<div class="store__container">
	<div class="store__info">
		<h1>{{ titleStore }}</h1>
		<span>{{ consoleStore }}</span>
		<p>{{ descriptionStore }}</p>
		<app-button-blue textButton="Saiba mais"></app-button-blue>
	</div>
	<div class="store__produto">
		<img src="{{imagemStore}}" alt="PlayStation" width="700px">
	</div>
	<div class="store__oculto">
		<span>Console PlayStation 5</span>
			<p>Descubra a mais nova geração de jogos incríveis para PlayStation.</p>
			<app-button-blue textButton="Saiba mais"></app-button-blue>
	</div>
</div>
