<div class="store__container">
	<div class="store__info">
		<h1>Apresentando o console e os acessórios de PS5</h1>
		<span>Console PlayStation 5</span>
		<p>Descubra a mais nova geração de jogos incríveis para PlayStation.</p>
		<div class="store__button1">
			<button>Saiba mais</button>
		</div>
	</div>
	<div class="store__produto">
		<img src="../../../assets/img/store-play.png" alt="PlayStation" width="700px">
	</div>
	<div class="store__oculto">
		<span>Console PlayStation 5</span>
			<p>Descubra a mais nova geração de jogos incríveis para PlayStation.</p>
			<div class="store__button">
				<button>Saiba mais</button>
			</div>
	</div>
</div>
