<div class="header__container">
	<img src="{{ imageHeader }}" alt="image Header" >
	<div class="header__infos">

		<div class="header__logos">
			<div class="header__logo1">
				<img src="../../../assets/img/ps5-logo.png" alt="logo do ps5" width="170">
			</div>
			<div class="header__separetor">

			</div>
			<div class="header__logo2">
				<img src="../../../assets/img/logo.nba2024.png" alt="logo nba 2024" width="200">
			</div>
		</div>

		<div class="header__title">
			<h1>Saia na frente ao jogar</h1>
		</div>

		<div class="header__description">
			<p>Até os profissionais da <b>NBA</b> usam <b>NBA 2k24</b> no <b>PS5</b> para aprimorar as próprias habilidades. Veja como Scoot fez fama na liga bem antes de pisar na quadra da NBA.</p>
		</div>
		<app-button textButton="Saiba mais"></app-button>
	</div>
</div>
