
.slide__card {
	background-image: url('../../../assets/img/resident.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 120px;
	border-radius: 20px;
	filter: opacity(0.6);
	transition: .5s;
}

.slide__card:hover {
	filter: opacity(1);
	transform: translateY(-10px);
	cursor: pointer;
	filter: drop-shadow(2px 10px 5px rgb(146, 146, 146));
}



