	<div class="sony">
		<img src="../../../assets/img/logo.sony.png" alt="logo sony">
	</div>
	<div class="home__menu">
		<app-menu></app-menu>
	</div>
	<div class="home__header">
		<app-header></app-header>
	</div>
	<div class="home__slide">
		<app-slide></app-slide>
		<app-slide></app-slide>
		<app-slide></app-slide>
		<app-slide></app-slide>
		<app-slide></app-slide>
	</div>
	<div class="home__store">
		<app-store></app-store>
	</div>

	<div class="home__games">
		<div class="games__container">
			<h1>Jogos incríveis de PS4 e PS5 já disponíveis ou chegando em breve</h1>
			<span><a href="#">Novos lançamentos</a></span>
			<div class="home__card">
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
				<app-games></app-games>
			</div>
		</div>
	</div>


