	<div class="home__container">
		<div class="sony" id="init">
			<img src="../../../assets/img/logo.sony.png" alt="logo sony">
		</div>
		<div class="home__menu">
			<app-menu></app-menu>
		</div>
		<div class="home__header">
			<app-header></app-header>
		</div>
		<div class="home__slide">
			<div class="home__slide--grid">
				<app-slide
				imgSlide="../../../assets/img/games/game-resident.jpg"
				></app-slide>
				<app-slide
				imgSlide="../../../assets/img/games/game-spider.webp"
				></app-slide>
				<app-slide
				imgSlide="../../../assets/img/games/game-nba.avif"
				></app-slide>
				<app-slide
				imgSlide="../../../assets/img/games/game-street.jfif"
				></app-slide>
				<app-slide
				imgSlide="../../../assets/img/games/game-horizon.webp"
				></app-slide>
			</div>
		</div>
		<div class="home__store">
			<app-store
			imagemStore="../../../assets/img/store-play.png"
			titleStore="Apresentando o console e os acessórios de PS5"
			descriptionStore="Descubra a mais nova geração de jogos incríveis para PlayStation."
			></app-store>
		</div>
		<div class="home__games">
			<div class="games__container">
				<h1>Jogos incríveis de PS4 e PS5 já disponíveis ou chegando em breve</h1>
				<app-button textButton="Novos Lançamentos"></app-button>
				<div class="home__card">
						<app-games
						imgGame="../../../assets/img/games/game-resident.jpg"
						nameGame="Resident Evil"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-battle.jpg"
						nameGame="Battlefield"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-creed.jpg"
						nameGame="Assassin's Creed"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-nba.avif"
						nameGame="NBA 2K24"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-spider.webp"
						nameGame="Marvel's Spider-Man 2"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-fifa.avif"
						nameGame="EA SPORTS™ FC 24"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-street.jfif"
						nameGame="Street Fighter 6"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-ragnarok.webp"
						nameGame="God of War Ragnarök"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-thelast.webp"
						nameGame="The Last of Us™ Part I"
						></app-games>
						<app-games
						imgGame="../../../assets/img/games/game-horizon.webp"
						nameGame="Horizon Forbidden West"
						></app-games>
				</div>
			</div>
		</div>
		<div class="home__store">
			<app-store
			imagemStore="../../../assets/img/img-card.png"
			titleStore="Sinta uma nova realidade"
			descriptionStore="Mergulhe em mundos incríveis que vão além da realidade com o inovador headset PlayStation VR2 e o controle PlayStation VR2 Sense"
			></app-store>
		</div>
		<div class="home__footer">
			<app-footer></app-footer>
		</div>
	</div>


