<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="menu__container">
	<div class="menu__left">
		<div class="menu__logo">
			<a href="#init"><img src="../../../assets/img/logo2.png" alt="logo" width="50px"></a>
		</div>
		<div class="menu__item">
			<span id="menu__burger" class="material-symbols-outlined" (click)="clickMenu()">
				menu
			</span>
				<ul id="menu__ul">
					<li (click)="menuAbrir()" id="jogos" class="flecha"><span class="link">Jogos</span>
						<div class="menu__abrir">
							<ul class="menu__click-jogos">
								<li>Resident Evil 4</li>
								<li>Spider-Man 2</li>
								<li>NBA 2k24</li>
								<li>Street Fighter 6</li>
								<li>EA SPORTS™ FC 24</li>
							</ul>
						</div>
					</li>
					<li><span class="link">PS5</span></li>
					<li><span class="link">PS4</span></li>
					<li><span class="link">Serviços</span></li>
					<li><span class="link">Acessórios</span></li>
					<li><span class="link">Notícias</span></li>
					<li><span class="link">Loja</span></li>
					<li><span class="link">Suporte</span></li>
				</ul>
		</div>
	</div>
	<div class="menu__logo--meio">
		<img src="../../../assets/img/logo2.png" alt="logo" width="50px">
	</div>
	<div class="menu__right">
		<a routerLink="/session"><button id="menu__btn">Iniciar sessão</button></a>
		<div class="menu__search">
			<input type="text" placeholder="Pesquisar">
			<img src="../../../assets/img/search.png" alt="pesquisar" width="15px">
		</div>
	</div>
</div>
