.games__card > img {
	width: 210px;
	height: 210px;
	object-fit: cover;
	object-position: top;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(21, 21, 21);
	margin-bottom: 5px;
	cursor: pointer;
	transition: 0.5s;
	filter: opacity(0.7);
}

.games__card > img:hover {
	transform: scale(1.05);
	filter: opacity(1);
}

span {
	color: #fff;
}
